<header class="max-w-7xl mx-auto border-b">
  <div class="p-8 flex justify-between items-center">
    <h1 class="font-bold">Static Web Template</h1>
    <nav>
      <ul class="flex gap-8 text-sm font-bold">
        <li><a href="">Page</a></li>
        <li><a href="">Page</a></li>
        <li><a href="">Page</a></li>
        <li><a href="">Page</a></li>
      </ul>
    </nav>
  </div>
</header>
