<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url" content="https://example.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="タイトル" />
    <meta property="og:description" content="サイト説明文" />
    <meta property="og:site_name" content="タイトル" />
    <meta property="og:image" content="https://example.com/assets/images/ogp.png" />
    <title>タイトル | 組織名</title>
    <meta name="description" content="サイト説明文" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
  </head>
  <body>
    <%- include('../assets/_layouts/header'); -%>
    <main>
      <article>
        <section class="py-16 px-8">
          <h1 class="text-8xl font-black">About</h1>
          <p class="mt-8 max-w-xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum cupiditate necessitatibus odit ratione, voluptate culpa iure repudiandae nobis possimus sit adipisci quidem. Asperiores iste quibusdam id hic architecto quas consectetur.</p>
        </section>
      </article>
    </main>
    <%- include('../assets/_layouts/footer'); -%>
  </body>
</html>
